.wrapper {
    margin: 30px 20px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(245, 245, 245);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

.table {
    width: 100%;
}

.table td {
    padding: 0.3em;
}

.table-filter {
    display: flex;
    align-items: center;
    margin-top: 15px;
}