/* .table-row {
    display: flex;
    border: 1px solid #000;
    border-bottom: none;
    padding: 15px;
    align-items: center;
}

.row-open {
    border-bottom: 1px solid #000;
}

.trading-hours {
    padding: 10px 15px;
}

.table-row:last-child {
    border-bottom: 1px solid #000;
}

.table-row-item {
    margin: 0 20px;
} */

table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }